/*  ------------------------------------
        ///// Google Fonts //////
 -------------------------------------- */
 @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


 /* Deafult Stylying */

 * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


div#root {
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

div#root div.centerpane {
    background: whitesmoke;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

div#root div.centerpane > main {
    padding: 30px;
    width: 100%;
}





























